<h2>Invoice #<%= @invoice.id %></h2>

<table>
  <tr>
    <td><%= @invoice.customer.first_name + " " + @invoice.customer.last_name  %></td>
    <td><%= @invoice.created_at.strftime("%A, %B %d, %Y")  %></td>
    <td>
      <%= form_with model: [:admin, @invoice], local: true do |f| %>
        <%= f.select :status,
            # Below we're retaining the correct formatting of the string in the db,
            # while capitalizing for readability on the front-end. See options_for_select for more info
            options_for_select(@invoice.statuses.map { |s| [s.capitalize, s] }, @invoice.status)%>
        <%= f.submit %>
      <% end %>
    </td>
  </tr>
</table>
