<h2>Invoice #<%= @invoice.id %></h2>

<table>
  <tr>
    <td><%= @invoice.customer.first_name + " " + @invoice.customer.last_name  %></td>
    <td><%= @invoice.created_at.strftime("%A, %B %d, %Y")  %></td>
    <td>
      <%= form_with model: [:admin, @invoice], local: true do |f| %>
        <% # TODO: pull array into model, downcase params in update to conform to db case%>
        <% # andddd write tests %>
        <%= f.select :status, ['in progress', 'completed', 'cancelled'] %>
        <%= f.submit %>
      <% end %>
        <%= @invoice.status.capitalize %>
    </td>
  </tr>
</table>
