<div class="col-md-50 col-md-offset-2" >
  <h1> INVOICE # <%= @invoice.id %></h1><br>
  <table style="width: 50%">
      <tr>
        <td>Status</td>
        <td><%= @invoice.status %></td>
      </tr>
      <tr>
        <td>Created At</td>
        <td> <%= @invoice.created_at.strftime('%A, %B %d, %Y') %></td>
      </tr>
      <tr>
        <td>Customer</td>
        <td> <%= @invoice.customer.full_name  %></td>
      </tr>
  </table><br><br>
  <div>
    <h1> All Invoice Items</h1><br>
    <h3>Expected Total Revenue: <%= number_to_currency(@invoice_items.total_revenue.to_f/100) %></h3> <br>
    <table class="invoice-items"style='width: 80%; border-color: white;'>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Status</th>
      </tr>
        <% @invoice_items.each do |ii| %>
          <tr>
            <td><%= ii.item.name %></td>
            <td><%= ii.quantity %></td>
            <td><%= number_to_currency(ii.unit_price) %></td>
            <td class="status-update"><%= form_with model: @invoice_item, method: :patch, local: true do |form| %>
                <%= form.hidden_field :ii_id, :value => ii.id %>
                <%= form.select :status, options_for_select([:pending, :packaged, :shipped ], ii.status) %>
                <%= form.submit %></p>
            </td>
        <% end %>
          </tr>
        <% end %>
    </table>
  </div>
</div>