<h3 style="text-align: center;"><%= "#{@merchant.name}" %> </h3><br>

<%= button_to 'New Item', "/merchants/#{@merchant.id}/items/new", method: :get %><br>
<div class="row">
  <div class="column" style="width: 50%">
      <%= render partial: 'partials/enabled_items' %>
  </div>
  <div class="column" style="width: 50%">
    <%= render partial: 'partials/disabled_items' %>
  </div>
</div><br>

<div class="column" style="width: 80%; ">
  <%= render partial: 'partials/top_items' %>
</div>
