<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% @repo = GithubRepo.new %>
  </head>

  <body>
   <nav class="navbar navbar-expand navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="/">Little Esty Shop</a>
      <div class="navbar-nav">
        <a class="nav-link text-light" <%= link_to "Admin Dashboard", "/admin" %></a>
      </div>
    </div>
   </nav>

   <!-- This container envelops everything within a page and applies padding -->
   <div class="container-fluid p-4">
     <% flash.each do |type, msg| %>
       <div class="success" style="position: relative; top: -50%"><%= msg %></div>
     <% end %>
     <%= yield %>
   </div>

   <div class="d-flex justify-content-around bg-dark mt-4">
    <% if !@repo.nil? && !Rails.env.test? %>
           <h6 class="p-3 text-light"><%= link_to @repo.data[:name], @repo.data[:html_url] %> has <%= @repo.num_merged_prs %> pull requests and counting.</h6>
     <h6 class="p-3 text-light">Our Team:</h6>
     <% @repo.contributors.each do |username, commits| %>
     <h7 class="p-3 text-light"> * <%= username %>: <%= commits %> commits </h7>
     <% rescue %>
       <h4 class="p-3 text-light">Github Statistics Unavailable</h4>
       <h4 class="p-3 text-light">Current Time is: <%= Time.now %></h4>
     <% end %>
    <% end %>
   </div>
  </body>
</html>
